body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f9fc;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #112b8d;
    margin-bottom: 40px;
    text-shadow: #112b8d 0px 0px 22px;
    
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"], input[type="number"], select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="submit"], button {
    background-color: #4a90e2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="reset"], button {
    background-color: #4a90e2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover, button:hover {
    background-color: #357ab8;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#input-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px dashed #4a90e2;
    background-color: #eef3f9;
    border-radius: 5px;
}

.form-section {
    margin-top: 20px;
    display: none;
}

.form-section.active {
    display: block;
}

h2 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}